*{
    padding: 0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/*-----------------------------------------------------NAV BAR---------------------------------------------------------------------*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(82, 80, 80);
}
.logo {
    color:rgb(12, 11, 11);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    width:50%;
}
.nav-links a {
    color:rgb(12, 11, 11);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 15px;
    font-weight: 500;
}
.imglogo {
    max-width: 15%;
    max-height: 15%;
}
.burger {
    display: none;
    cursor: pointer ; 
}
.burger div{
    width:20px;
    height: 2.5px;
    background-color:rgb(12, 11, 11);
    margin:3px;
}

.nav-links a:hover {
    color:rgb(202, 179, 75);
}

@media screen and (max-width:1024px){
    .nav-links{
        width:80%;
    }
}

@media screen and (max-width:890px){
    nav {
        position:static;
        width:100%;
    }
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }
    
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top:8vh;
        background-color: rgb(82, 80, 80);
        display: flex;
        flex-direction: column;
        align-items:center;
        width: 100%;
        transform: translateX(100%);
    }
    .nav-links li {
        opacity: 0;

    }
    .burger{
        display: block;
    }
    .imglogo {
        max-width: 14%;
        max-height: 14%;
    }
}
.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
    
}
/*-----------------------------------------------------FOOTER---------------------------------------------------------------------*/

.top-footer{
    background-color: rgb(82, 80, 80);
}
footer a {
    color:rgb(12, 11, 11);
}
.footer-container {
    display: flex;
    flex-wrap:wrap;
    width: 80%;
    margin:auto;
    justify-content: space-around;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-footer {
    width: 40%;
}
.location {
    margin-top:20px;
    margin-right:2rem;
    width:20%;
}
.mails{
    margin-top:20px;
    width:20%;
}
.social{
    font-size: 1.7rem;
}
.social a i{
    padding-top: 1rem;
    padding-right:2rem;
}
.title-footer {
    border-bottom: 1px solid rgb(12, 11, 11);
    padding-bottom:0.5rem;
    margin-bottom:0.4rem;
}

@media screen and (max-width:1024px){
    .footer-container{
        width:100%;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:890px){
    .footer-container{
        width:60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 3rem;
        margin:auto;
    }
    .mails {
        width:100%;
    }
    .location {
        width:100%;
        margin-right:0px;
    }
    .img-footer{
        width:50%;
    }
}
.bot-footer {
    background-color: rgb(82, 80, 80);
    width:100%;
    height:6vh;
    border-top: 1px solid rgb(12, 11, 11);
    display: flex;
    justify-content: center;
    align-items: center;
}
.bot-footer h4 {
    color:rgb(12, 11, 11);
    font-weight: 500;
}
.space {
    height: 100vh;
}
.google-map {
    height:400px;
    width:100%;
}