*{
    padding: 0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}



/*-----------------------------------------------------NAV BAR---------------------------------------------------------------------*/
nav.topNav{
    background-color: #a52a2a;
    height: 80px;
    width: 100%;
}
label.Logo{
    color:white;
    font-size: 35px;
    line-height: 80px;
    padding:0 100px;
    font-weight: bold;
}
nav  ul {
    float: right;
    margin-right: 80px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin:0 15px;
}
nav ul li a {
    color: white;
    font-size: 18px;
    padding:8px;
    border-radius: 10px;
    text-transform: uppercase;
}
a.action,a:hover {
    background: #CC3636;
    transition: .5s;
}
.checkbtn{
    color:white;
    line-height: 80px;
    margin-right:40px;
    font-size: 30px;
    float: right;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width:952px){
    label.Logo {
        font-size: 30px;
        padding-left:50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position:fixed;
        width:100%;
        height:100vh;
        background: #d94826;
        top:80px;
        left:-100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin:50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size:20px;
    }
    a:hover,a.action{
        background: none;
        color:#292cd6;
    }
    #check:checked ~ ul{
        left:0;
    }
}